/* CONFIGURAÇÕES GLOBAIS */

*{
    margin: 0;
    padding: 0;
}

/* CONFIGURAÇÕES BODY */

body{
    background-color: #252525;
}
#container-primario{
    width: 1320px;
    margin: auto;
}
/* ESTILIZAÇÃO HEADER */

header{
    width: 1320px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#container-logo img{
    width: 200px;
}
#lista-header{
    display: flex;
    flex-direction:row;
}
.itemlista-header{
    list-style: none;
    color: white;
    font-family: helvetica;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.img-icon{
    width: 25px;
    margin-left: 30px;
    cursor: pointer;
}

/* ESTILIZAÇÃO BANNER */

#space-banner{
    width: 100%;
    position: relative;
}
#wall-img-banner{
    background-color: rgba(0, 0, 0, 0.5);
    width: 1320px;
    height: 667px;
    position: absolute;
}
#img-banner{
    width: 100%;
}
#space-txt-banner{
    width: 550px;
    position: absolute;
    top: 230px;
    right: 20px;
}
.txt-banner{
    margin-bottom:20px ;
    font-family: helvetica;
    font-weight: 500;
    font-size: 20px;
    color: #f1f1f1;
}
#btn-cadastro{
    width: 300px;
    height: 50px;
    background-color: #ffb00a;
    border-radius: 30px;
    border-style: none;
    font-size: 20px;
    font-family: acme;
}
/* ESTILIZAÇÃO PROMOS DA SEMANA */

#space-promodasemana{
    width: 100%;
    height: 500px;
    background-color: #f1f1f1;
    position: relative;
}
#titulo-promodasemana{
    font-size: 20px;
    font-family: acme;
    text-align: center;
    padding-top: 20px;
}
#spacepromos{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.promos{
    margin-top: 10px;
    width: 300px;
    height: 390px;
    background-color: #2525252a;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.699);
}
.titulopromo{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: helvetica;
    text-align: center;
    margin-top: 10px;
}
.fotopromo{
    display: block;
    margin: auto;
}
.descricaopromo{
    font-family:Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom:20px ;
}
.btnpromo{
    font-family: helvetica;
    font-weight: 550;
    width: 120px;
    height: 35px;
    cursor: pointer;
    display:block;
    margin: 0 auto;
    background-color: #ffb00a;
    border-style: none;
    border-radius: 20px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.527);
}
#btn-anterior{
    position: absolute;
    top:48%;
    left: 10px;
    cursor: pointer;
}
#btn-proximo{
    position: absolute;
    top:48%;
    right: 10px;
    cursor: pointer;
}
/* ESTILIZAÇÃO QUEM SOMOS */
#space-quemsomos{
    width: 100%;
    height: 350px;
    
}
#titulo-quemsomos{
    font-family: helvetica;
    font-size: 24px;
    margin-top: 25px;
    margin-left: 80px;
    color: #d9d9d9;
}
#space-quemsomos-paragrafo-img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#space-quemsomos-texto{
    width: 599px;
    font-size: 18px;
    font-family: helvetica;
    color: #d9d9d9;
}

#img-ondas{
    width: 100%;
    position: relative;
    top: 45px; 
}
/* ESTILIZANDO NOSSOS DIFERENCIAIS */
#space-nossosdiferenciais{
    width: 100%;
    height: 540px;
    background-color: #f1f1f1;
}
#space-diferenciais{
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#titulo-nossosdiferenciais{
    font-family:acme;
    font-size: 24px;
    color: #ffb00a;
    text-align: center;
    padding-top: 50px;
}
.nossosdiferenciais-opcoes{
    width: 300px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.titulo-opcoes{
    font-family: helvetica;
    font-size:20px;
    font-weight: 550;
}
.img-opcoes{
    width: 90px;
    height: 90px;
}
.descricao-opcoes{
    font-family:helvetica;
    text-align: center;
}
/* ESTILIZANDO CADASTRO / junte-se a nós */
#space-junteseanos{
    background-color: red;
    display: flex;
    flex-direction: row;
}
#papelparede{
    width: 795px;
    height: 490px;
    background-color: #ffb10ad3;
    position: absolute;
}
#space-juntese-img{
    position: relative;
}
#space-juntese-img p{
    width: 600px;
    font-size: 24px;
    font-family: helvetica;
    font-weight: 550;
    color: #f1f1f1;
    position: absolute;
    top: 230px;
    left: 70px;
}